// @include xl {
//   @debug calc(var(--node-width) - 20);
// }


.freeman_bloc {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  // width: var(--node-width);
  height: var(--node-height);
  margin-bottom: var(--node-gap-vert);
  margin-left: var(--node-gap);
  border-color: #b1b1b1;
}

.freeman_bloc:focus {
  border-color: #282b30;
}

.freeman_bloc input {
  font-size: 18px;
  // width: calc(var(--node-width) - 20);
}

.del_button {
  min-width: 40px;
  font-size: 1em;
  background-color: white;
  border-style: none;
  // border-color: #ff7f7f;
  margin-left: 20px;
}