@use './breakpoints' as bp;

$footer-height: 200px;

$node-height: 50px;
$node-gap: 100px;
$node-gap-vert: 30px;

// TODO: conditionate these values with  breakpoints mixins
:root {
  --node-height: 50px;
  --node-width: 100px;
  --node-gap: 50px;
  --node-gap-vert: 30px;
  --footer-height: 100px;
  --nav-height: 100px;
}

@include bp.xl {
  $node-gap: 200 !global;
  :root {
    --node-width: 200px;
    --node-height: 50px;
    --node-gap: 100px;
    --node-gap-vert: 30px;
    --footer-height: 150px;
    --nav-height: 150px;
  }
}


:export {
  nodeHeight: $node-height;
  nodeGap: $node-gap;
  nodeGapVert: $node-gap-vert;
}